<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#75dab4" />
    <title>@ViewBag.Title</title>


    <meta name="author" content="Themezinho">
    <meta name="description" content="Tourog | Creative Agensy for Digital Age">
    <meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, tourog, digital, studio, css, animation, transition, freelancers">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="Tourog | Creative Agensy for Digital Age">
    <meta property="og:image" content="preview.html">
    <meta property="og:site_name" content="tourog">
    <meta property="og:title" content="tourog">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.themezinho.net/tourog">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="tourog">
    <meta name="twitter:creator" content="tourog">
    <meta name="twitter:title" content="tourog">
    <meta name="twitter:description" content="Tourog | Creative Agensy for Digital Age">
    <meta name="twitter:image" content="preview.html">

    <!-- FAVICON FILES -->
 

    <link href="~/assets/ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="144x144">
    <link href="~/assets/ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/assets/ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/assets/ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="~/assets/ico/favicon.png" rel="shortcut icon">
   
    <!-- CSS FILES -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/css/fancybox.min.css">
    <link rel="stylesheet" href="~/assets/css/hamburger.min.css">
    <link rel="stylesheet" href="~/assets/css/odometer.min.css">
    <link rel="stylesheet" href="~/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/swiper.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/splitting.min.js"></script>
    <script src="~/assets/js/odometer.min.js"></script>
    <script src="~/assets/js/fancybox.min.js"></script>
    <script src="~/assets/js/scripts.js"></script>
</body>
</html>
 